<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSRG Inventory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper" style="background : #fff">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Table list
                </li>
                <li>
                    <a href="#" onclick="return InventoryDetailFunction()">Get Inventory Detail</a>
                </li>
                <li>
                    <a href="#" onclick="return InventoryFlushFunction()">Flush Inventory Detail</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            <div style="text-align: center">
                <img src='https://business.lsu.edu/news/PublishingImages/ArticleImages/Logos/College/HSRG_Vert_Purple_Article_Image.jpg'>
                <h1>HSRG - Inventory</h1>
            </div>
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p><b>Report was created on @DateTime.Now.ToLongDateString()</b></p>
                </footer>
            </div>
        </div>
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    function InventoryDetailFunction() {
        $.getJSON("@Url.Action("UpdateTables","UpdateDB", new { table = "InventoryDetail" })", function (data) {
            console.log(data);
            alert("load happened");
        });
    }

    function InventoryFlushFunction() {
        $.getJSON("@Url.Action("FlushInventory","Home", new { table = "InventoryDetail" })", function (data) {
            console.log(data);
            alert("load happened");
        });
    }
    </script>

</body>
</html>
