@model HSRG___Inventory.Models.TableTimestamps

@{ 

}

<div id="sidebar-wrapper" style="background : #fff">
    
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="">
            Table List
        </li>
        @if (true)
        {
            int count = 0;
            foreach (System.Reflection.PropertyInfo property in ViewBag.properties)
            {
                if (property.Name != "ID")
                {
                    <li>
                        <a href="#" onclick="return RefreshTable('@property.Name')">

                            <p>@property.Name</p>
                            <p id="@property.Name">@property.GetValue(Model, null)</p>
                        </a>
                    </li>
                }
                count++;
            }
        }
    </ul>
</div>
<script>

    function RefreshTable(table) {
        //FlushTableFunction(table);
        ReloadTableFunction(table);
    }

        function FlushTableFunction(table) {
            $.ajax({
                url: '@Url.Action("FlushInventory","Home")' + '?table=' + table,
                type: 'GET',
                contentType: false,
                dataType: 'text',
                success: function (data) { alert("Table Flushed"); console.log(data) },
                error: function (error) { alert(error) }
            });
        };

        function ReloadTableFunction(table) {
            $.ajax({
                url: '@Url.Action("UpdateTables", "UpdateDB")' + '?table=' + table,
                type: 'GET',
                contentType: false,
                dataType: 'text',
                success: function (data) {
                    alert("Table Reloaded");
                    var test = data;
                    console.log(data)
                    var data = JSON.parse(data);
                    $('#' + data.Table).text(data.Time);
                    $.post("@Url.Action("UpdateTime", "UpdateDB")", { result: test });
                },
                error: function (error) { alert(error) }
            });
        };
</script>