<div class="button-wrapper" style="text-align:center">
    <a href="@Url.Action("Index")" class="btn btn-default btn-md" role="button">Back to home</a>
</div>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Date1").datepicker();
        });
        $(function () {
            $("#Date2").datepicker();
        });
    </script>
</head>

<script>
    function topFunction()
    {
        document.body.scrollTop = 0; // For Chrome, Safari and Opera 
        document.documentElement.scrollTop = 0; // For IE and Firefox
    }

    $('.input-daterange input').each(function () {
        $(this).datepicker('clearDates');
    });

    function checkDates()
    {
        var date1 = document.getElementById('Date1').value
        var date2 = document.getElementById('Date2').value
        if (/\d\d\d\d\/\d\d\/\d\d/.test(date1) && /\d\d\d\d\/\d\d\/\d\d/.test(date2))
        {
            alert("Correct Format");
        }
        else
        {
            alert("Incorrect Format");
        }
    }

</script>


@{
    ViewBag.Title = "Details";
}
<h2 style="background: center">@ViewBag.id</h2>
<h3>@ViewBag.Message</h3>
    <div class=" col-md-3 input-group input-daterange">
        <input id="Date1">
        <div class="input-group-addon">to</div>
        <input type="text" id="Date2">

    </div>

    <button onclick="checkDates()" id="myBtn" title="BeginTest" class="btn btn-default btn-md">Schedule Test</button>

    <div class="container-fluid">
        <div class="row">
            @Html.Action("PartialUpdates", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialMotherBoard", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialBios", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialSystem", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialHardDisk", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialDriveSpace", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialNetwork", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialMemory", new { id = ViewBag.id })
            <br />
            @Html.Action("PartialSystemEnclosure", new { id = ViewBag.id })
        </div>
    </div>

    <div class="button-wrapper" style="text-align:center">
        <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-default btn-md">Back to top</button>
    </div>

