
@{
    ViewBag.Title = "Details";
}
<h2>@ViewBag.id</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">
    <div class="row">
        @Html.Action("PartialMotherBoard", new { id = ViewBag.id })
        <br />
        @Html.Action("PartialBios", new { id = ViewBag.id })
        <br />
        @Html.Action("PartialSystem", new { id = ViewBag.id })
        <br />
        @Html.Action("PartialHardDisk", new { id = ViewBag.id })
        <br />
        @*@Html.Action("PartialDriveSpace", new { id = ViewBag.id })*@
        <br />
        @Html.Action("PartialNetwork", new { id = ViewBag.id })
        <br />
        @Html.Action("PartialMemory", new { id = ViewBag.id })
        <br />
        @*@Html.Action("PartialSystemEnclosure", new { id = ViewBag.id })*@
    </div>
</div>


